body {
    
    font-family: url(https://fonts.googleapis.com/css?family=Inknut+Antiqua);
    font-family: 'Inknut Antiqua', serif;
}


.navbar-inverse {
    background-color: #37CDDE;
}

.homeSection {
    content: box;
    color: antiquewhite;
    border: 5px solid white;
    padding: 15px;
    margin: 15px;
    background: rgba(255, 255, 255, 0.5);
}


h1 {
    font-family: "Fira+Sans+Condensed", sans-serif;
    font-size: 92px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

col {
    columns: 5px 3;
    column-width: 5px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
