@{
    ViewBag.Title = "Contact";
}
<h2></h2>
<h3>@ViewBag.Message</h3>

<address>
    12175 Visionary Way<br />
    Fishers, IN 46038<br />
    <abbr title="Phone">Phone:</abbr>
    855.925.1150
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kelly.j.mccurdy@gmail.com">Support@example.com</a><br />
</address>