@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron" style="background-color: rgba(252,252,252, 0.3)">
        <h1 class="display-1">Skills Matrix </h1>
    </div>

<div class="row">
        <div class="col-md-4-offset-1 homeSection">
            <h2>Add a New Employee</h2>
            <p> Click here to add a new employee.
            <p><a class="btn-lg btn-info" value="Add Employee" onclick=location.href=@Html.ActionLink("Employee", "Index", "Employee")</a></p>
        </div>
        <div class="col-md-4-offset-1 homeSection">
            <h2>Add Employee Qualifications</h2>
            <p>Click here to add qualifications for an employee.</p>
            <p><a class="btn-lg btn-info" value="Add Qualification" onclick=location.href=@Html.ActionLink("Qualification", "Index", "Qualification")</a></p>
        </div>
        <div class="col-md-4-offset-1 homeSection">
            <h2>View Employee Profiles</h2>
            <p>Click here to view Employee Profiles.</p>
            <p><a class="btn-lg btn-info" value="View Profile" onclick=location.href=@Html.ActionLink("Profile", "Index", "Profile")</a></p>
        </div>
    </div>

<style>
    body {
        background: url("/assets/Canva - Digitization, The Background, Technology.jpg"); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
</style>